export(
       parseLibVers,
       requiredPackages, packages2install,
       resample,
       mySessionInfo,
       fixedWidthCat,
       lcol1,
       lcol2,
       lcol3, 
       dcol1, 
       dcol2,
       dcol3,
       numName,
       sepInt
       )
